/*-- scss:defaults --*/

.reveal .footer {
  display: block;
  position: fixed;
  bottom: 8px !important;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 8px !important;
  z-index: 2;
}